body {
  background-image: url("https://i.postimg.cc/0QyP1bqh/letters.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  text-align: center;
  width: 40%;
/*  margin: 50px 350px;*/
  margin: auto;
  padding: 25px 25px 25px 25px;
  background-color: rgba(240, 240, 240, 0.8);
}

p.big{
  font-size: 3.5vw;
  color: rgba(104, 50, 71);
}
button {
  color: rgba(68, 119, 88);
}

#welcomeText{
  color: rgba(0, 0, 42);

}
#offsetNumber{
  text-align: center;
  width: 30%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  padding: 12px 2px 12px 2px;
}
#note{
  font-size: 0.75em;
  color: rgba(176, 4, 53);
}

#input,#output {
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
}
